body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #333333;
  line-height: 1; }
  @media (max-width: 765px) {
    body {
      font-size: 18px; } }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #333333; }

p {
  line-height: 32px; }
  @media (max-width: 765px) {
    p {
      line-height: 30px; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 60px;
  line-height: 45px; }

.logo {
  display: block;
  width: 108px;
  height: 117px;
  background-size: cover;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

#mob-nav {
  display: none; }
  @media (max-width: 765px) {
    #mob-nav {
      display: block; } }

.flex-container {
  display: flex; }

.container {
  max-width: 1410px;
  margin: 0 auto; }
  @media (max-width: 1660px) {
    .container {
      max-width: 1230px; } }
  @media (max-width: 1439px) {
    .container {
      max-width: 1150px; } }
  @media (max-width: 1279px) {
    .container {
      max-width: 900px; } }
  @media (max-width: 1015px) {
    .container {
      max-width: 700px; } }
  @media (max-width: 765px) {
    .container {
      max-width: 100%;
      margin: 0 30px; } }
  @media (max-width: 320px) {
    .container {
      max-width: 320px; } }

header .menu ul li {
  float: left;
  position: relative;
  margin-right: 28px; }
  header .menu ul li:last-of-type {
    margin-right: 0; }
  @media (max-width: 1279px) {
    header .menu ul li {
      float: none;
      margin-right: 0;
      margin-bottom: 35px; } }
  header .menu ul li a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }
    @media (max-width: 1279px) {
      header .menu ul li a {
        font-size: 16px; } }

header .menu ul:after {
  content: "";
  display: block;
  clear: both; }

header .lang-select {
  display: flex; }
  header .lang-select a {
    font-size: 20px;
    text-align: center;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }
    header .lang-select a.active {
      color: #fff; }
